<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.withstars.dao.UserMapper" >
    <resultMap id="BaseResultMap" type="cn.withstars.domain.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="credit" property="credit" jdbcType="INTEGER" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="salt2" property="salt2" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="existUser" type="cn.withstars.domain.User">
        <id column="id" property="id" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="salt" type="cn.withstars.domain.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="salt2" property="salt2" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="password" type="cn.withstars.domain.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="lock" type="cn.withstars.domain.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, username, password, email, phone_num, create_time, update_time, credit, avatar,
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="addUser" parameterType="cn.withstars.domain.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="username != null" >
                username,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="phoneNum != null" >
                phone_num,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="credit != null" >
                credit,
            </if>
            <if test="avatar != null" >
                avatar,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="salt2 != null" >
                salt2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phoneNum != null" >
                #{phoneNum,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="credit != null" >
                #{credit,jdbcType=INTEGER},
            </if>
            <if test="avatar != null" >
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>
            <if test="salt2 != null" >
                #{salt2,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="existUser" parameterType="cn.withstars.domain.User" resultMap="existUser">
        select id  from user where username =  #{username,jdbcType=VARCHAR}
    </select>

    <select id="getSalt" parameterType="cn.withstars.domain.User" resultMap="salt">
        select id,salt2 from user where username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="getPassword" parameterType="cn.withstars.domain.User" resultMap="password">
        SELECT id,password FROM user WHERE username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="getLockedInfo" parameterType="cn.withstars.domain.User" resultMap="lock">
        SELECT id,status FROM user WHERE username = #{username,jdbcType=VARCHAR}
    </select>





</mapper>